server:
  port: ${SERVER_PORT:8888}  # Cổng của Gateway

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173, https://figurecheck-frontend.vercel.app"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      routes:
        # Route: Identity Service
        - id: identity-service-route
          uri: lb://IDENTITY-SERVICE
          predicates:
            - Path=/identity/**

        # Route: Trade Service
        - id: trade-service-route
          uri: lb://TRADE-SERVICE
          predicates:
            - Path=/api/listings/**, /api/cart/**, /api/orders/**

        # Route: Product Service
        - id: product-service-route
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/**, /api/categories/**, /api/series/**, /api/manufacturers/**, /api/product-images/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG