server:
  port: 8083
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}
spring:
  application:
    name: product-service
  datasource:
    url: ${DBMS_CONNECTION:jdbc:mysql://localhost:3306/productservice}
    driverClassName: "com.mysql.cj.jdbc.Driver"
    password: Darlingofme
    username: ${DBMS_USERNAME:root}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true